<!DOCTYPE html>
<html lang="en">
    <footer class="container-fluid">
        <div class="row">
          <div class="col-12">
            <ul class="segundo">
              <div class="">
                <li><a href="#">CONTACTO</a></li>
              </div>
              <div>
                <li><a href="#">SUCURSALES</a></li>
              </div>
              <div>
                <li><a href="#">REDES SOCIALES</a></li>
              </div>
              <div>
                <li><a href="#">SOBRE NOSOTROS</a></li>
              </div>
          </div>
        </div>
      </footer>
</html>