/*
IMPORTO LA FUENTE TIPOGRAFICA
*/

@import url('https://fonts.google.com/specimen/Archivo+Narrow');


/*
COLOCO LAS VARIBLES DE LOS COLORES
*/
:root{
    --color-celesteClarito:#E4F9F5;
    --color-turquesaClaro:#30e3ca;
    --color-turquesaOscuro:#11999e;
    --color-gris:#40514e;
}

/*
GENERAL
*/

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Narrow;
    font-size: 300;
}

/*
HEADER
*/

header{
    background-color: var(--color-celesteClarito);
    padding: 20px 0;
}

.logo {
    height: 100%;
    width: 100%;
    margin:0
}

header a{
    color: black;
}

header a:hover{
    text-decoration: none;
    color: white;
}


header button {
    color:blue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10px;
    left: 150px;
}

header ul li{
    padding: 10px;
    margin-left: 10px;
}

header span{
    padding: 10px;
}

/*
SECTION
*/
section {
    background-color: lightseagreen
}
section h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

section p{
    text-align: center;
}

section form{
    padding: 10px;
    text-align: center;
}

section input{
    padding: 0;
    width: 130px;
}

section button{
    padding: 5px;
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 5px 5px;
    background-color: gray;
}

section h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

section h4{
    text-align: center;
    padding-top: 30px;
}

section img{
    margin: 95px;
    padding-top: 0;
}


/*
VIEWPORT DE TABLET
*/

@media(min-width:768px){


    header ul li{
        padding: 20px;
        margin: 30px;
        text-align: center;
        align-items: center;
    }

    header span{
        padding: 40px;
    }

    section p{
        text-align: center;
        text-transform: unset;
    }

    section button{
        padding: 5px 15px;
        margin-top: 5px;
        border: 1px solid black;
        border-radius: 5px 5px;
        background-color: gray;
        position: relative;
    }

    section h4{
        text-align: center;
        padding-top: 50px;
    }
}


/*
VIEWPORT ESCRITORIO
*/

@media(min-width:1024px){

    header ul li{
        padding: 0;
        margin-left: 80px;
    }

    article textarea{
        border: 2px solid black;
        border-radius: 5px 5px;
        display: flex;
        position: relative;
        left: 550px;
        margin-bottom: 20px;
    
    }
}
















/*
FOOTER
*/

footer{
    text-align: center;
    background-color: var(--color-gris);
}

.footer ul{
   
    display: block;
    padding: 40px 0;
}

footer li{
    display: block;
    padding: 10px 10px;
}

footer a{
    text-transform: capitalize;
}