/*
IMPORTO LA FUENTE TIPOGRAFICA
*/

@import url('https://fonts.google.com/specimen/Archivo+Narrow');


/*
COLOCO LAS VARIBLES DE LOS COLORES
*/
:root{
    --color-celesteClarito:#E4F9F5;
    --color-turquesaClaro:#30e3ca;
    --color-turquesaOscuro:#11999e;
    --color-gris:#40514e;

}


/*
GENERAL
*/
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Narrow;
    font-weight: 300;
}

/*
HEADER
*/

header{
    background-color:var(--color-turquesaClaro);
    padding: 20px 0px;
}

header img{
    height: 150%x;
    width: 110%;
}

header a{
    color: black;
}

header a:hover{
    text-decoration: none;
    color: white;
}


header button {
    color:blue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10px;
    left: 150px;
}

header ul li{
    padding: 10px;
    margin-left: 10px;
}

header span{
    padding: 10px;
}

/*
FORMULARIO DE CARGA DE PRODUCTO
*/

section{
    background-color: var(--color-celesteClarito);
}

h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

article p{
    text-align: center;
}

article p label{
    margin: 10px 50px;
    padding: 0;
    overflow: hidden;
}

article input{
    border: 2px solid black;
    border-radius: 5px 5px;
}

article textarea{
    border: 2px solid black;
    border-radius: 5px 5px;
    display: flex;
    position: relative;
    left: 70px;
    margin-bottom: 20px;

}

article button{
    background-color: white;
    padding: 5px 5px;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px 5px;
}

/*
FOOTER
*/

footer{
    text-align: center;
    background-color: var(--color-gris);
}

.footer ul{
   
    display: block;
    padding: 40px 0;
}

footer li{
    display: block;
    padding: 10px 10px;
}

footer a{
    text-transform: capitalize;
}

/*
VIEWPORT TABLET
*/

@media(min-width:768px){

    header ul li{
        padding: 20px;
        margin: 30px;
        text-align: center;
        align-items: center;
    }

    header span{
        padding: 40px;
    }

    article p{
        text-align: center;
    }

    article p label{
        margin: 0px 50px;
        padding: 0;
        overflow: hidden;
    }

    h2{
        text-align: center;
        overflow: hidden;
    }

    article textarea{
        border: 2px solid black;
        border-radius: 5px 5px;
        display: flex;
        position: relative;
        left: 260px;
        margin-bottom: 20px;
    
    }
}


/*
VIEWPORT ESCRITORIO
*/

@media(min-width:1024px){

    header ul li{
        padding: 0;
        margin-left: 80px;
    }

    article textarea{
        border: 2px solid black;
        border-radius: 5px 5px;
        display: flex;
        position: relative;
        left: 550px;
        margin-bottom: 20px;
    
    }
}