<!DOCTYPE html>
<html lang="es">
      <!--header-->
  <%- include('partials/head') %> 

  <body>

         <!--header-->
     <%- include('partials/header') %>

     <!--SECCION MAS VENDIDOS-->
    <section class="banner">
      <img src="images/baner-equim.jpg " width="100%" height="100%" alt=" " />
    </section>

    <!--SECCION MAS VENDIDOS-->
    <section class="container py-5">
      <div class="row productos">
        <div class="col-12">
          <h2>
            Productos Mas Vendidos
          </h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <img
              src="images/lavandina-doble-1lt.jpg "
              width="80%"
              height="80%"
              alt=""
            />
            <article>
              <h3>$6.770</h3>
              <p>Lavandina x 1lt.</p>
              <a href=""
                ><i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i>
              </a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <img
              src="images/alcohol-4lts.jpg"
              width="80%"
              height="80%"
              alt=""
            />
            <article>
              <h3>$6.770</h3>
              <p>Alcohol x 4lts.</p>
              <a href="">
                <i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i>
              </a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <img
              src="images/alcohol-un-litro.jpg "
              width="80%"
              height="80%"
              alt=""
            />
            <article>
              <h3>$6.770</h3>
              <p>Alcohol x 1lt.</p>
              <a href=""
                ><i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i
              ></a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <a href=""
              ><img
                src="images/lavandina-cuatro-litros.jpg "
                width="80%"
                height="80%"
                alt=""
            /></a>
            <article>
              <h3>$6.770</h3>
              <p>Lavandina x 4lts.</p>
              <a href=""
                ><i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i
              ></a>
            </article>
          </div>
        </div>
      </div>
    </section>
    <!--SECCION OFERTAS-->
    <section class="container py-5">
      <div class="row productos">
        <div class="col-12">
          <h2>
            Productos Mas Vendidos
          </h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <img
              src="images/lavandina-doble-1lt.jpg "
              width="80%"
              height="80%"
              alt=""
            />
            <article>
              <h3>$6.770</h3>
              <p>Lavandina x 1lt.</p>
              <a href=""
                ><i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i>
              </a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <img
              src="images/alcohol-4lts.jpg"
              width="80%"
              height="80%"
              alt=""
            />
            <article>
              <h3>$6.770</h3>
              <p>Alcohol x 4lts.</p>
              <a href="">
                <i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i>
              </a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <img
              src="images/alcohol-un-litro.jpg "
              width="80%"
              height="80%"
              alt=""
            />
            <article>
              <h3>$6.770</h3>
              <p>Alcohol x 1lt.</p>
              <a href=""
                ><i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i
              ></a>
            </article>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="contenido">
            <a href=""
              ><img
                src="images/lavandina-cuatro-litros.jpg "
                width="80%"
                height="80%"
                alt=""
            /></a>
            <article>
              <h3>$6.770</h3>
              <p>Lavandina x 4lts.</p>
              <a href=""
                ><i
                  class="fa fa-shopping-cart"
                  style="color: #00afef;"
                  aria-hidden="true"
                ></i
              ></a>
            </article>
          </div>
        </div>
      </div>
    </section>

       <!----Footer-->
    <%- include('partials/footer') %>

  </body>
</html>
