<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  <body>
    <%- include('partials/header') %>

    <div class="container-fluid">
     <div class="row"> 
       <form>
       <div class="col-12">
         <h1> Registrate</h1>
       </div> 
       <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4" >
        </div>
      
      
                <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Apellido</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
        
        
          <div class="form-group col-md-6">
            <label for="inputEmail4">Dirección</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Provincia</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Código Postal</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Teléfono</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
     </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
          <section>
            <h2> Ingresar</h2>
       
      <div class="form-row">
       <div class="form-group col-md-6">
         <label for="inputEmail4">Email</label>
         <input type="email" class="form-control" id="inputEmail4">
       </div>
       
         <div class="form-group col-md-6">
          <label for="inputPassword4">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4" >
        </div>
        
           <button type="submit" class="btn btn-primary">Enviar</button>
       </div>
          </section>
          </div>
          
        </div>
      </div>

    </div>
  
     <!--EMPIEZA EL FOOTER-->
   <%- include('partials/footer') %>
       
</body>
</html>
